$verdeOscuro : darkgreen;
$verdeClaro: lightgreen;
$colorRequerido: red;
//nav icono ol lis
*{
    body{

        >main{
            font-family: 'Grenze', serif;
            color:$verdeOscuro;
            >div{
                >h1{
                    font-family: 'Mansalva', cursive;
                }
            }
            >span{
                text-align: center; 
            }
        }
    }
}
@media screen and (max-width:400px){
    body{
        max-width: 400px;
        >main{
            width: 394px;
            margin: 0 auto;
            >div{
                text-align: center;
                >h1{
                    width: 100%;
                }
            }
            >span{
                font-size: 16pt;
                border:2px solid green;
                display: inline-block;
                width: 100%; 
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            >ul{
                text-align: right;
                >li{

                    >ul{
                        padding: 0;
                        margin: 0;
                        display: none;
                        list-style: none;
                        >li{
                            display: block;
                        }
                    }
                }
                >li:hover{
                    cursor: pointer;
                    >ul{
                        text-align: left;
                        display:block;  
                        background-color:$verdeOscuro;
                        >li{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            display: list-item;
                            color: $verdeClaro;
                            >a{
                                color:$verdeClaro;
                                text-decoration: none;
                            }
                        }
                        >li:hover{
                            >a{
                                color: $verdeOscuro;
                                text-decoration: none;
                            }
                            background-color:$verdeClaro;
                            color:$verdeOscuro;
                        }
                    }
                }
            }
            >p{
                text-align: right;
                color: black;
                font-size: 10pt;
            }
            >form{
                display: inline-block;
                width: 100%;
                >h2{
                    width: 100%;
                    text-align: left;
                    color: black;
                    border:2px solid green;
                    border-left: none;
                    border-right: none;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                >div{
                    width: 100%;
                    >label{
                        >span.requerido{
                            content: "(*)";
                            color: red;
                        }
                    }
                }
                >article{
                    >div{
                        width: 100%;
                        margin-bottom: 1em;
                        >label,input{ 
                            >span.requerido{
                                content: "(*)";
                                color: $colorRequerido;
                            }
                        }
                        >input[type=number], input[type=date]{
                            width: 52%;   
                        }
                        >label{
                            text-align: left;
                            display: inline-block;
                            width: 50%;
                        }
                        >input{
                            width: 85%;
                        }
                        >select{
                            width: 75%;
                        }
                    }
                }
                >div{
                   width: 260px;
                    margin-bottom: 1em;
                    >div{
                        display: inline-block;
                        width: 31%;
                        >input[type=number]{
                            width: 30%;
                        }
                    }


                }
                >input[type="submit"]{
                    margin-left: 60%;
                }
            }


        }
    }
}
@media screen and (min-width:401px) and (max-width:640px){
    body{
        margin:auto;
        >main{
            width: 394px;
            margin: 0 auto;
            >div{
                text-align: center;
                >h1{
                    width: 100%;
                }
            }
            >span{
                font-size: 16pt;
                border:2px solid green;
                display: inline-block;
                width: 100%; 
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            >ul{
                text-align: right;
                >li{

                    >ul{
                        padding: 0;
                        margin: 0;
                        display: none;
                        list-style: none;
                        >li{
                            display: block;


                        }


                    }

                }
                >li:hover{
                    cursor: pointer;
                    >ul{
                        text-align: left;
                        display:block;  
                        background-color:$verdeOscuro;
                        >li{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            display: list-item;
                            color: $verdeClaro;
                            >a{
                                color:$verdeClaro;
                                text-decoration: none;
                            }
                        }
                        >li:hover{
                            >a{
                                color: $verdeOscuro;
                                text-decoration: none;
                            }
                            background-color:$verdeClaro;
                            color:$verdeOscuro;
                        }
                    }
                }
            }
            >p{
                text-align: right;
                color: black;
                font-size: 10pt;
            }
            >form{
                display: inline-block;
                margin: 0 auto;
                width: 100%;

                >h2{
                    width: 100%;
                    text-align: left;
                    color: black;
                    border:2px solid green;
                    border-left: none;
                    border-right: none;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                >div{
                    width: 100%;
                    >label{
                        >span.requerido{
                            content: "(*)";
                            color: $colorRequerido;
                        }
                    }
                }
                >article{
                    >div{
                        width: 100%;
                        margin-bottom: 1em;
                        >label,input{ 
                            >span.requerido{
                                content: "(*)";
                                color: red;
                            }
                        }
                        >input[type=number], input[type=date]{
                            width: 52%;   
                        }
                        >label{
                            text-align: left;
                            display: inline-block;
                            width: 50%;
                        }
                        >input{
                            width: 85%;
                        }
                        >select{
                            width: 75%;
                        }
                    }
                }
                >div{
                    width: 260px;
                    margin-bottom: 1em;
                    >div{
                        display: inline-block;
                        width: 31%;
                        >input[type=number]{
                            width: 30%;
                        }
                    }


                }
                >input[type="submit"]{
                    margin-left: 60%;
                }
            }


        }
    }
}

@media screen and (min-width:641px){
    body{
        >main{
            width: 100%;
/*            margin: 0 auto;*/
            
            >div{
                text-align: center;
                >h1{
                    width: 100%;
                }
            }
            >span{
                font-size: 16pt;
                border:2px solid green;
                display: inline-block;
                width: 100%; 
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            >ul{
                text-align: right;
                >li{
                    >ul{
                        padding: 0;
                        margin: 0;
                        display: none;
                        list-style: none;
                        >li{
                            display: block;
                        }

                    }

                }
                >li:hover{
                    cursor:pointer;
                    >ul{
                        text-align: left;
                        display:block;  
                        background-color:$verdeOscuro;
                        >li{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            display: list-item;
                            color: $verdeClaro;
                            >a{
                                color:$verdeClaro;
                                text-decoration: none;
                            }
                        }
                        >li:hover{
                            background-color: $verdeClaro;
                            color: $verdeOscuro;
                            >a{
                                color: $verdeOscuro;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            >p{
                text-align: right;
                color: black;
                font-size: 10pt;
            }
            >form{
                display: inline-block;
                margin: 0 auto;
                width: 100%;

                >h2{
                    width: 100%;
                    text-align: left;
                    color: black;
                    border:2px solid green;
                    border-left: none;
                    border-right: none;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                >div{
                    width: 100%;
                    >label{
                        >span.requerido{
                            content: "(*)";
                            color: $colorRequerido;
                        }
                    }
                }
                >article{
                    >div{
                        width: 100%;
                        margin-bottom: 1em;
                        >label,input{ 
                            >span.requerido{
                                content: "(*)";
                                color: red;
                            }
                        }
                        >input[type=number], input[type=date]{
                            width: 10%;   
                        }
                        >label{
                            text-align: right;
                            display: inline-block;
                            margin-left: 4%;
                            width: 16%;
                        }
                        >input{
                            width: 75%;
                        }
                        >select{
                            width: 75%;
                        }
                    }
                }
                >div{
                    margin-left: 8%;
                    margin-bottom: 1em;
                    >div{
                        display: inline-flex;
                        margin-left: 7%;
                        width: 16%;

                        input[type="number"]{
                            width: 55%;
                        }
                    }
                }
                >input[type="submit"]{
                    float: right;
                }
            }


        }
    }
}
@media screen and (min-width:1024px){
    body{
        margin: 0 auto;
        >main{
            width: 1007px;
            
            >div{
                text-align: center;
                >h1{
                    width: 100%;
                }
            }
            >span{
                font-size: 16pt;
                border:2px solid green;
                display: inline-block;
                width: 100%; 
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            >ul{
                text-align: right;
                >li{
                    >ul{
                        padding: 0;
                        margin: 0;
                        display: none;
                        list-style: none;
                        >li{
                            display: block;
                        }

                    }

                }
                >li:hover{
                    cursor:pointer;
                    >ul{
                        text-align: left;
                        display:block;  
                        background-color:$verdeOscuro;
                        >li{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            display: list-item;
                            color: $verdeClaro;
                            >a{
                                color:$verdeClaro;
                                text-decoration: none;
                            }
                        }
                        >li:hover{
                            background-color: $verdeClaro;
                            color: $verdeOscuro;
                            >a{
                                color: $verdeOscuro;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            >p{
                text-align: right;
                color: black;
                font-size: 10pt;
            }
            >form{
                display: inline-block;
                margin: 0 auto;
                width: 100%;

                >h2{
                    width: 100%;
                    text-align: left;
                    color: black;
                    border:2px solid green;
                    border-left: none;
                    border-right: none;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                >div{
                    width: 100%;
                    >label{
                        >span.requerido{
                            content: "(*)";
                            color: $colorRequerido;
                        }
                    }
                }
                >article{
                    >div{
                        width: 100%;
                        margin-bottom: 1em;
                        >label,input{ 
                            >span.requerido{
                                content: "(*)";
                                color: red;
                            }
                        }
                        >input[type=number], input[type=date]{
                            width: 10%;   
                        }
                        >label{
                            text-align: right;
                            display: inline-block;
                            margin-left: 4%;
                            width: 16%;
                        }
                        >input{
                            width: 75%;
                        }
                        >select{
                            width: 75%;
                        }
                    }
                }
                >div{
                    margin-left: 8%;
                    margin-bottom: 1em;
                    >div{
                        display: inline-flex;
                        margin-left: 7%;
                        width: 16%;

                        input[type="number"]{
                            width: 55%;
                        }
                    }
                }
                >input[type="submit"]{
                    float: right;
                }
            }


        }
    }
}




