*{
    body{

        >main{
            font-family: 'Grenze', serif;
            color:green;
            >div{
                >h1{
                    font-family: 'Mansalva', cursive;
                }
            }
        }
    }
}
@media screen and (max-width:400px){

}
@media screen and (min-width:401px) and (max-width:640px){

}
@media screen and (min-width:641px){
    body{
        >main{
            width: 100%;
            margin: 0 auto;
            >div{
                text-align: center;
                >h1{
                    width: 100%;
                }
            }
            >span{
                font-size: 16pt;
                border:2px solid green;
                display: inline-block;
                width: 100%; 
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            >ul{
                text-align: right;
                >li{
                    >ul{
                        padding: 0;
                        margin: 0;
                        display: none;
                        list-style: none;
                        >li{
                            display: block;
                        }

                    }

                }
                >li:hover{
                    >ul{
                        text-align: left;
                        display:block;  
                        background-color:darkgreen;
                        >li{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            display: list-item;
                            color: lightgreen;
                        }
                        >li:hover{
                            background-color:lightgreen;
                            color:darkgreen;
                        }
                    }
                }
            }
            >p{
                text-align: right;
                color: black;
                font-size: 10pt;
            }
            >form{
                display: inline-block;
                margin: 0 auto;
                width: 100%;

                >h2{
                    width: 100%;
                    text-align: left;
                    color: black;
                    border:2px solid green;
                    border-left: none;
                    border-right: none;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                >div{
                    width: 100%;
                    >label{
                        >span.requerido{
                            content: "(*)";
                            color: red;
                        }
                    }
                }
                >article{
                    >div{
                        width: 100%;
                        margin-bottom: 1em;
                        >label,input{ 
                            >span.requerido{
                                content: "(*)";
                                color: red;
                            }
                        }
                        >input[type=number], input[type=date]{
                            width: 10%;   
                        }
                        >label{
                            text-align: right;
                            display: inline-block;
                            margin-left: 10%;
                            width: 10%;
                        }
                        >input{
                            width: 75%;
                        }
                        >select{
                            width: 75%;
                        }
                    }
                }
                >div{
                    margin-left: 8%;
                    margin-bottom: 1em;
                    >div{
                        display: inline-block;
                        margin-left: 10%;
                        width: 15%;
                    }
                }
                >input[type="submit"]{
                    margin-left: 92%;
                }
            }


        }
    }
}
@media screen and (min-width:1024px){

}




